<!-- <div class="p-3">
  <h1>Add a review to <%= @restaurant.name %></h1>

  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>

  <p><%= link_to restaurant_path(@restaurant), class: "btn btn-dark my-3" do %>
      Back to <%= @restaurant.name %>
    <% end %>
  </p>
</div> -->
